{% extends "posts/base.html" %}
{% load crispy_forms_tags %}
{% block video %}
<div class="row">
  <!--Spacing-->
  <div class="col-md-1"></div>
  <!--Actual content-->
  <div class="col-md-8">
    <!--Video-->
    {% if object.video %}
      <video name="{{ object.video }}" controls width='100%'>
        <source src="{{ object.video.url }}"></source>
      </video>
    {% endif %}
    <!--Video Title-->
    <h2 class="article-title">{{ object.title }}</h2>
    <!--Video Description-->
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted|date:"l, F dS, Y, P T" }}</small>
        </div>
        <p class="article-content break-words">{{ object.content }}</p>
        <!-- Update and Delete buttons -->
        {% if object.author == user %}
        <div>
          <a class="btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update Post</a>
          <a class="btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete Post</a>
        </div>
        {% endif %}
      </div>
    </article>
    <!--Comment Section-->
    <div class="row">
      <div class="col-md-12">
          <legend class="border-bottom mb-4">Comments ({{ page_obj.paginator.count }}) </legend> 
      </div>
    </div>
    <!--New Comment-->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <form method="post">
          {% csrf_token %}
          {{ comment_form|crispy }}
          <button class="btn btn-outline-info" type="submit">Add New Comment</button>
        </form>
      </div>
    </div>
    <!--Comments-->
    {% for com in object_list %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ com.author.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' com.author.username %}">{{ com.author }}</a>
          <small class="text-muted">{{ com.date_posted|date:"l, F dS, Y, P T" }}</small>
        </div>
          <p class="break-words">{{ com.comment }}</p>
        {% if com.author == user %}
        <div>
          <a class="text-muted" href="{% url 'comment-update' com.id %}">Edit Comment</a>
          |
          <a class="text-muted" href="{% url 'comment-delete' com.id %}">Delete Comment</a>
        </div>
        {% endif %}
      </div>
    </article>
    {% endfor %}
    {% if is_paginated %}

      <!-- Add prev and first links if not already on first -->
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <!-- Add in pages around the current page -->
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>    
        {% endif %}
      {% endfor %}

      <!-- Add in the last if not at the end already -->
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
    <!--End Comment-->
  </div>
</div>
{% endblock video %}